html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
body
  page-header
  h1 BB 
  nav(class="navbar navbar-light bg-faded")
    ul.nav.nav-tabs
      li.active(role='presentation')
        a(href='/') Create
      li(role='presentation')
        a(href='/messages') Messages

    .container
      .row
        .col-xs-6.offset-xs-3
          h1.text-xl-center Write Message
          hr
          form(action="create" method='post' class= "form" name= "message")
            .form-group
              label Title:
              input(type="text" name='title' placeholder="Type a title" autocomplete="off" class="form-control")
            .form-group
              label Body:
              textarea(type="text" name="body" placeholder="Type a message" autocomplete="off" class="form-control" rows="5")
            .form-group
              button(type="submit" class="btn btn-primary btn-lg btn-") Post Message
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js")

