html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")  
  body
  page-header
  h1 BB
  nav(class="navbar navbar-light bg-faded")
    ul.nav.nav-tabs
      li(role='presentation')
        a(href='/') Create
      li.active(role='presentation')
        a(href='/messages') Messages
        
    .container
      .row
        .col-xs-6.offset-xs-3
          h1.text-xl-center Show Messages
          hr
          each message in messages
            .media
              .media-left
                img.media-object(src='/images/photo_kerem.jpg', style='width:60px')
              .media-body
                h4.media-heading #{message.title}
                p
                  | #{message.body}
            hr